/* * {
    padding: 0;
    margin: 0;
    color: white;
} */
/* 
TRAFFIC LIGHT
div{
    width: 325px;
    border:5px solid black;
    margin: 50px;
    background-color: black;
}
.light{
    height: 100px;
    width: 100px;
    color: blue;
    border-radius: 50%;
    text-align: center;
    border:5px solid black;
    padding: 50px;
}
#idx1{
    background-color: red;
}
#idx2{
    background-color: orange;
}
#idx3{
    background-color: green;
} */ 
/* .navbar{
    height: 60px;
    background-color: black;
}
button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
}
a{
    margin-right: 100px;
}
.contentbox{
    height: 100px;
    width: 100px;
    background-color: green;
    margin: 20px;
    border: 5px solid black;
} */
 /* .parent{
    width: 100px;
    height: 100px;
    background-color: rgb(14, 71, 215);
    font-size: 10px;
 }
 .child
{
    background-color: blue;
    width: 80%;
    height: 80%;
    font-size: 2em;
    width: 10rem;
    height: 30vh;
} */
 
/* .box{
    width: 500px;
    height: 500px;
    background-color: rgb(14, 71, 215);
    background-image: url(heet_photo.jpg);
    background-size: cover;
    margin: 50%;
} */
 /* div{
    width: 100px;
    height: 100px;
    background-color: rgb(14, 71, 215);
    background-image: url(heet_photo.jpg);
    color: blue;
    position:absolute;
 } */

 /* body{
    text-align: center;
 }
 div{
    height:200px;
    width: 50px;
    display: inline-block;
    border:2px solid black;
 }
 #container{
    width: 700px;
    height:300px;
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: row;
    justify-content: center; 
    align-items: flex-start; */
    /* align-content: center; */
 
 /* #box1{
    background-color: aqua;
 }
 #box2{
    background-color: pink;
 }
 #box3{
    background-color: darkkhaki;
    height: 75px;
  }
 #box4{
    background-color:indianred ;
 }
 #box5{
    background-color: blue;
 } */ 

 /* .navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: pink;
 }
 a{
    text-decoration: none;
    color: black;
 }
 li{
    color: pink;
 }
#outter{
    height: 400px;
    width: 400px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
#inner{
    height: 100px;
    width: 100px;
    background-color: lightskyblue;
    border: 2px solid black;
    align-self: self-start;
} */

/* div{
    height: 50px;
    width: 50px;
    background-color: pink;
}
@media (min-width: 600px) and (max-width:800px){
    div{
    background-color: red;
    border: 3px solid blue;
    border-radius: 50%;
}} */
 /* div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 3px solid black;
    margin: 200px;
 animation: coloranimate 0s none 0s infinite; }
@keyframes coloranimate {
    from { background-color: aquamarine;}
    to {background-color : red;}
}
div:hover{
    
} */

/* div{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 20px solid blue;
    border-top: 20px solid black;
    animation: spinanimate 1s ease-in-out 0s infinite; 
}
@keyframes spinanimate{
    from{
        transform:rotate(0deg)
    }
    to{
        transform:rotate(360deg)
    }
} */

